*{
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: verdana, arial, sans-serif;
}

body {
    color: #fff;
    font-size: 1.1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    background-color: darkslateblue;
}

article {
    background-color: chocolate;
    flex: 2 2 12em;
    padding: 1em;
    margin: 10px;
}

nav, aside {
    flex: 1;
    background-color: darkcyan;
}

nav {
    order: -1;
}
 
header, footer {
    flex: 0 0 5em;
    background-color: gray;
    justify-items: center;
}
 
@media screen and (min-width: 600px) {
     
    body{
        min-height: 100vh;
    }
    main {
        flex-direction: row;
        min-height: 100%;
        flex: 1 1 auto;
    }
}